frameworkVersion: '>= 3 < 4'
service: elysia-awslambda

provider:
  name: aws
  architecture: arm64
  stage: staging
  region: us-east-1

custom:
  region: '${opt:region, self:provider.region}'
  stage: '${opt:stage, self:provider.stage}'

  bun:
    version: 1.3.4

package:
  individually: true
  patterns:
    - '!node_modules/**'
    - '!plugins/**'
    - '!pnpm-lock.yaml'

functions:
  accounts:
    handler: accounts/handler.default
    runtime: bun:1.x
    memorySize: 256
    timeout: 30
    architecture: arm64
    url: true

plugins:
  - serverless-bun-plugin